fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn==22.0.0
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
motor==3.4.0
pymongo==4.6.3
fastapi-mail==1.4.1
requests==2.32.3
aiohttp==3.9.5
google-api-python-client==2.134.0
praw==7.8.1
beautifulsoup4==4.12.3
httpx==0.27.0
openai==1.35.3 
feedparser==6.0.11
wikipedia-api==0.6.0
nltk==3.8.1
wordcloud==1.9.3
numpy==1.26.4
Pillow==10.3.0
argon2-cffi==23.1.0
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
